@media only screen and (max-width: 600px) {
  .myMapContainer {
    height: auto !important;
  }
  .myMap {
    padding: 3.7rem 2rem;
  }
  .mapToolTip {
    width: auto !important;
    padding: 1rem 2rem;
  }
}
/* state specific fill color */
/* #mp.svg-map__location {
  fill: green !important;
} */
.svg-map {
  stroke: #c6c6c7 !important;
}
.svg-map__location {
  fill: #31373f !important;
}
.svg-map__location:hover {
  fill: #7a7b7c !important;
}
.svg-map__location:focus {
  fill: #7a7b7c !important;
}
